pipeline/bdata_adf_variable_set_single_pl.json
{
	"name": "bdata_adf_variable_set_single_pl",
	"properties": {
		"activities": [
			{
				"name": "Set filename",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Metadata Store 01",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_file_name",
					"value": {
						"value": "@activity('Metadata Store 01').output.itemName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Metadata Store 01",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"fieldList": [
						"itemName"
					]
				}
			},
			{
				"name": "Copy Data to SQL - V",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set filename",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy Data to SQL - D",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "SqlSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"store_id": "store_id",
							"date_id": "date_id",
							"product_id": "product_id",
							"stock_amt": "stock_amt"
						}
					}
				}
			},
			{
				"name": "Copy Data to SQL - D",
				"description": "Direct data copy from a file to a sql server table",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "SqlSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"store_id": "store_id",
							"date_id": "date_id",
							"product_id": "product_id",
							"stock_amt": "stock_amt"
						}
					}
				}
			}
		],
		"variables": {
			"var_file_name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Sample Pipelines"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}