pipeline/Call SP with Lookup.json
{
	"name": "Call SP with Lookup",
	"properties": {
		"activities": [
			{
				"name": "Call Scalar SP",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[AddNumbers]",
						"storedProcedureParameters": {
							"Num1": {
								"type": "Int32",
								"value": "10"
							},
							"Num2": {
								"type": "Int32",
								"value": "20"
							},
							"Result": {
								"type": "Int32",
								"value": "0"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_AzureSqlDB",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set SP Output",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Call Scalar SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "SPOut",
					"value": {
						"value": "@activity('Call Scalar SP').output.firstRow.result",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"SQLServer": {
				"type": "String"
			},
			"DBName": {
				"type": "String"
			},
			"Username": {
				"type": "String"
			},
			"Password": {
				"type": "String"
			},
			"SPOut": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "ActivityDemo"
		},
		"annotations": []
	}
}